.index-h1 {
    color: navy;
    margin: 50px;
}
#more_recipes {
    font-family: Arial, Helvetica, sans-serif;
}
    & footer a
    {
        background: red;
        border-radius: 4px;
        padding: 4px 8px;
        text-decoration: none;
        color: white;

        & :hover {
            background: maroon;

        }
    }
.sentence {
    padding: 4px 8px;
    background: green;
    border-radius: 4px;
}


